<div class="container-fluid">
  <div class="row">
      <h2> Chat Application</h2>
      <hr>
  </div>
  <div class="row">
      <div class="col-sm-5">
          <label for="roomInput">Choose room</label>
          <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room" (change)="changeMessageArea(room)">
              <option></option>
             <option *ngFor='let group of groups$'>{{group.name}}</option>
          </select>
      </div>
      <div class="col sm-5">
          <div style="margin-top:32px;" > 
              <button type="button" class="btn btn-primary" (click)="leave()">Leave</button>
          </div>
      </div>
      <div class="col sm-5">
          <div style="margin-top:32px;" > 
              <p *ngIf="someOneTyping"><i class="fa fa-info-circle"></i> {{whoTyping}}</p>
          </div>
      </div>

  </div>

  <div >
      <div class="well chatBox" >
          <div *ngFor="let item of messages$">
            <div class="DBMessage row" [ngClass]="{'darker':item.sender===user,'pull-right':item.sender!=user,'pull-left':item.sender===user}" >
                    <span><strong >{{item.sender==user?"":item.sender+":"}}  </strong><br *ngIf="item.sender!=user"> {{item.content}}</span>
                <div>
                    <small class="pull-right" >
                        {{item.date | date: 'dd/MM/yyyy HH:mm'}}
                    </small>
                </div>
                <br>
            </div>
          </div>
          <div *ngFor="let item of messageArray">
                <div class="DBMessage row" [ngClass]="{
                    'darker':item.user===user,
                    'pull-right':item.user!=user,
                    'pull-left':item.user===user}" >
                        <span><strong *ngIf="item.user!=user"> {{item.user}}: </strong> {{item.message}}</span>
                        </div>
          </div>
      </div>
  </div>
  <div class="row" style="margin-top: 4pc;">
      <div class="col-sm-10" style="padding-right: 2px">
          <input type="text" class="form-control" [(ngModel)]="messageText" (keyup)="isTyping()" maxlength="70">            
      </div>
      <div >
              <button type="button" class="btn btn-success" (click)="sendMessage()">Send</button>
      </div>
  </div>
</div>