
i.fa.fa-edit {
    margin-left: 10px;
    margin-top: 8px
}
i.fa.fa-trash:hover{
    cursor: pointer;
}

i.fa.fa-edit:hover{
    cursor: pointer;
}

h1 i.fa.fa-plus-circle {
    font-size: 20px;
}
h1 i.fa.fa-plus-circle:hover {
    cursor:pointer;
}

h1 i.fa.fa-plus-circle:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    opacity: 0.5;
}